<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hms.lib.commonmobileservices.mapkitcommon">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
</manifest>